



.table-config{
    margin-top: 5%;
}
#add-new-obj{
    border: var(--violeta) 1px solid;
    font-weight: 5000;
    border-radius: 4px;
    cursor: pointer;
    background: var(--violeta);
    color: #fff;
    padding: 8px 25px;
    font-size: 1em;
    transition: .2s;
}
#add-new-obj:hover{
    background: transparent;
    color: var(--violeta);

}


#NewObj form>div{
    margin: 4% 0;
}
#NewObj label{
    font-size: 0.9em;
    color: #7b7b7b;
    display: block;
    font-weight: 400;
    margin-bottom: 1%;
}
#NewObj textarea{
    resize: none;
    overflow: auto;
    background: transparent;
    border: none;
    border-bottom: 1px solid #777777;
    width: 94%;
    background: #e7e7e7;
    border-radius: 5px;
    height: 9vh;
    padding: 1% 2%;
}
#NewObj input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #777777;
    background: #e7e7e7;
    border-radius: 5px;
    padding: 8px 15px;

}
#NewObj select{
    padding: 13px 31px;
    border: none;
    background: #e7e7e7;
    color: #1c1c1c;
    cursor: pointer;
}
:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--violeta);
  }
#NewObj select option{
    padding: 5px 0;
    display: block;
}
#NewObj button{
    padding: 4px 10px;
    border: var(--violeta) 1px solid;
    background: #7f45c457;
    color: var(--violeta);
    font-weight: 5000;
    border-radius: 4px;
    cursor: pointer;
}

#create-obj{
    background: var(--violeta)!important;
    color: #fff!important;
    padding: 8px 25px!important;
    font-size: 1em;
    transition: .2s;
}
#create-obj:hover{
    background: transparent!important;
    color: var(--violeta)!important;

}
#rene{
    border: #777 1px solid!important;
    background: transparent!important;
    color: #777!important;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;

    padding: 8px 25px!important;

    margin-left: 3.5%;

    font-size: 1em;
    transition: .2s;
}
#rene:hover{
    background-color: #d6d6d6!important;
}


#ObjTable-view .table{
    margin-top: 5%;
}
#ObjTable-view .tr{
    height: 9vh;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#ObjTable-view .tr:nth-child(odd){
    background-color: #e7e7e7;
}
#ObjTable-view .th{
    padding: 0 1%;
    text-align: left;
    font-weight: 600;
}
#ObjTable-view .td{
    padding: 0 1%;
    /* border-right: 1px solid #fff;
    height: 100%; */
}
#ObjTable-view .td p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 0.8em;
}
.id-cell{
    width: 3%;
}
.obj-cell{
    width: 35%;
}
.cant-cell{
    width: 5%;
}
.th.rtas-cell{
    height: auto!important;
}
.rtas-cell{
    width: 28%;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.key-cell{
    width: 12%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    align-items: center;
}
.key-cell p{
    display: inline-block!important;
    width: fit-content!important;
    font-size: 0.8em!important;
    margin: 2px 2px;
    background-color: #d2b9f0;
    border-radius: 5px;
    padding: 2px;
}
.cat-cell{
    width: 8%;
}
.cant-cell p{
    text-align: center;
}
.delete-btn{
    position: absolute;
    top: 50%;
    left: 100%;
    padding: 2%;
    cursor: pointer;
    transform: translateY(-50%);
    /* display: none; */
    opacity: 0;
}
#ObjTable-view .tr:hover div{
    display: 0.7;
}
.delete-btn:hover{
    opacity: 1;
}